body{
  background-image: linear-gradient(to right, rgba(213, 5, 250, 0.258), rgba(255, 72, 0, 0.274));
  animation: body_background_animate 10s infinite;
}
@keyframes body_background_animate {
  
  0% {
    background-image: linear-gradient(to right, rgba(217, 0, 255, 0.353), rgba(255, 72, 0, 0.359));
  }
  50% {
    background-image: linear-gradient(to left,rgba(255, 0, 51, 0.415), rgba(255, 0, 204, 0.218));
  }
  100% {
    background-image: linear-gradient(to left,rgba(255, 123, 0, 0.437), rgba(247, 0, 255, 0.237));
  }
}

#main_box {     
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(241, 6, 6);
  border-radius: 20px;
  box-shadow:  0px 1px 9px 0px rgb(255, 0, 217);
  width: 60%;
  height: 45%;
  }

#title_name{
  text-align: center;
  font-size: 40px;
  margin: 5px;

}

#love_meter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

#middle_distributer #middle_heart{
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 90px;
  position: absolute;
  animation: heart_animate 2.5s infinite;
}

#middle_distributer #middle_heart:hover{
  animation: heart_animate 9s infinite;

}

@keyframes heart_animate {
  0%{
    font-size: 85px;
    margin-top: -20px;
  }
  30%{
    font-size: 30px;
    margin-top: 10px;
  }
  60%{
    font-size: 85px;
    margin-top: -20px;
  }
  80%{
    font-size: 30px;
    margin-top: 10px;
  }
  100%{
    font-size: 85px;
    margin-top: -20px;
  }
  
}

#love_meter #first_person{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#love_meter #second_person{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#love_meter input {
  width: 80%;
  height: 25px;
  border-radius: 20px;
  padding:0px 20px;
  cursor: pointer;
} 
#first_person #person1_input{
  margin: 20px -5px;
}

#second_person #person2_input{
  margin: 20px -5px;
}
  
#love-button{
    background-image: linear-gradient(red, rgb(255, 0, 217));
    width: 28%;
    height: 13%;
    border-radius: 10%;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    animation: luv_btn_animate 3s infinite;
    text-align: center;
    font-family: cursive;
    font-weight: 900;
    font-size: 14px;
    box-shadow: 0px 1px 20px 3px rgb(255, 0, 0);
    

  }
#love-button:hover{
    box-shadow: 0px 1px 20px 5px rgb(252, 0, 214);
    animation-play-state: paused;
    cursor: pointer;
  }  

@keyframes luv_btn_animate {
    0% {
      background-image: linear-gradient(to right, rgb(217, 0, 255), rgb(255, 72, 0));
    }
    30% {
      background-image: linear-gradient(to bottom right,rgb(255, 0, 51), rgb(255, 162, 0));
    }
    60% {
      background-image: linear-gradient(180deg,rgb(255, 0, 51), rgb(255, 0, 204));
    }
    80% {
      background-image: linear-gradient(red, rgb(255, 0, 144));
    }
    100% {
      background-image: linear-gradient(300deg,rgb(255, 123, 0), rgb(247, 0, 255));
    }
  }

#results{
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%,-80%);
  animation: change_number;
  font-size: 30px;
  font-weight: 900;
}  

#error-box{
  position: fixed;
  top: 1%;
  left: 0.3%;
  background-color:#ff5733;
  height:60px;
  width: 300px;
  opacity: .90;
  border-radius: 0px 30px 30px 0px;
  text-align: center;
  border:4px rgb(255, 255, 255) solid;
  box-shadow:  #000 3px 6px 5px 1px;
  z-index: 999999;
  display: none;
  animation: error_call_animate 1s ;
}
#error-message{
  font-weight: 900;
  font-size: 20px;
}

@keyframes error_call_animate {
  0%{
    transform: translateX(-240px);
  }  
  90%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(1px);
  }
}
@keyframes error_delete_animate {
  0%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(-400px);
  }
  
}





/* THE responsive ness starts from here  */

@media screen and (max-width: 770px) {
  body{
    overflow-y: scroll;
  }
  #main_box {  
    height: 500px;
  }
  #love_meter{
    text-align: center;
    flex-direction: column;
  }
  #love_meter input{
    width: 75%;
    position: relative;
    left: 54%;
    transform: translatex(-50%);
  }
  #love_meter #second_person{
    margin-top: 45px;
    display: flex;
    flex-direction: column;

  }
  #middle_distributer{
    position: relative;
    margin-top: 30px;
  }
  #middle_distributer #middle_heart{
    font-size: 60px;
    animation: heart_animate 2.5s infinite;
  }
  
  @keyframes heart_animate {
    0%{
      font-size: 50px;
      margin-top: -20px;
    }
    30%{
      font-size: 20px;
      margin-top: 10px;
    }
    60%{
      font-size: 50px;
      margin-top: -20px;
    }
    80%{
      font-size: 20px;
      margin-top: 10px;
    }
    100%{
      font-size: 50px;
      margin-top: -20px;
    }
    
  }
  #love-button{
    width: 65%;
    height: 7%;
    top: 3%;
  }

  #results{
    top: 91%;
  }
  #error-box{
    height:30px;
    width: 200px;
  }
  #error-message{
    margin-top: 6px;
    font-weight: 900;
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  #main_box {  
      height: 500px;
    }
  #title_name{
    font-weight: 600;
    text-align: center;
    font-size: 140%;
    margin: 5px;
  }
  #love_meter input{
      position: relative;
      left: 54%;
      transform: translatex(-50%);
      width: 70%;
    }
  #results{
      top:90%;
      left: 50%;
      transform: translate(-50%,-80%);
    }
  #love-button{
      margin: 0px auto;
    }
}

@media screen and (max-width: 275px){
  #results{
    top: 90%;
    left: 50%;
    transform: translate(-50%,0%);
  }
}